@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.admin {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    &-menu {
        width: 300px;
        height: 100%;
        background-color: #184062;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 12px;
    }

    &-menu-title {
        font-size: 32px;
        color: white;
        text-align: center;
    }

    &-menu-page {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }

    &-content {
        width: 100%;
        height: 100%;
    }

    &-image {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &-img {
        width: 150px;
        height: 150px;
        background-color: black;
        border-radius: 50%;
    }

    &-image-title {
        font-size: 18px;
        color: white;
    }
}